
<body>
<div class="container"> 
	<div class=" col-md-12">
	<div class="form-group">
		   <label  class="control-label col-md-2">Nombres:</label>
		   <div class="col-md-10">
           <input type="text" name="fname" class="form-control" placeholder="Ingrese nombres"><br>
           </div>
           <label  class="control-label col-sm-2">Apellido Paterno:</label>
		   <div class="col-md-10">
		   	 <input type="text" name="fname"  class="form-control"  placeholder="Ingrese Apellido Paterno"><br>
		   </div>
            <label  class="control-label col-sm-2">Apellido Materno:</label>
		   <div class="col-md-10">		   	
           <input type="text" name="fname"  class="form-control"  placeholder="Ingrese Apellido Materno"><br>
		   </div>
         <label  class="control-label col-sm-2">Tipo Documento:</label>
		   <div class="col-md-4">		   	
               <select id="ddlTipoDoc" name="ddlTipoDoc" class="form-control">
               	<option>Dni</option>
               	<option>Carnet Extranjeria</option>
               </select><br>
		   </div>
          <label  class="control-label col-sm-2">N° Documento:</label>
		   <div class="col-md-4">		   	
           <input type="text" name="fname"  class="form-control"  placeholder="Ingrese n° documento"><br>
		   </div>
        <label  class="control-label col-sm-2">Tipo Usuario:</label>
		   <div class="col-md-4">		   	
               <select id="ddlTipoUsu" name="ddlTipoUsu" class="form-control">
               	<option>Dueño</option>
               	<option>Cliente</option>
               </select><br>
		   </div>
          <label  class="control-label col-sm-2">Sexo:</label>
		   <div class="col-md-4">		   	
             <select id="ddlTipoSex" name="ddlTipoSex" class="form-control">
               	<option>Masculino</option>
               	<option>Femenino</option>
               </select><br>
		   </div>
          <label  class="control-label col-sm-2">Correo 1:</label>
		   <div class="col-md-10">		   	
           <input type="text" name="fname"  class="form-control"  placeholder="Ingrese correo"><br>
		   </div>

		     <label  class="control-label col-sm-2">Correo 2:</label>
		   <div class="col-md-10">		   	
           <input type="text" name="fname"  class="form-control"  placeholder="confirme correo"><br>
		   </div>
		     <label  class="control-label col-sm-2">Contraseña:</label>
		   <div class="col-md-10">		   	
           <input type="text" name="fname"  class="form-control"  placeholder="Ingrese Contraseña"><br>
		   </div>

         <label  class="control-label col-sm-2">Contraseña 2:</label>
		   <div class="col-md-10">		   	
           <input type="text" name="fname"  class="form-control"  placeholder="confirme Contraseña"><br>
		   </div>
		  <div class="row">
            <div class="col-md-offset-5 col-md-3">
                <input type="submit" value="Registrar" class="btn btn-success"/>
            </div>
            <div class="col-md-offset-0 col-md-1">
                <a href="Index">
                    <input type="button" value="Cancelar" class="btn btn-danger" />
                </a>
            </div>

        </div>
		
	</div>
	
</div>
</div>

</body>
