
<style>
  
  .dropdown-menu >  li > a:hover{
  	background-color:#13a8bd;
  }
  .navbar-inverse
  {
    border-color:#13a8bd;
   border-bottom-width: 0.8em;
  }

 </style>

<body>

<nav class="navbar navbar-default navbar-inverse" role="navigation" style="background: #63C2EB">

<div class="container-fluid" style="background-color:#63C2EB">
</div>
  <div class="container-fluid" style="background-color:#63C2EB">


    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

      	 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#fcf8e3;background-color: #63C2EB">MANTENIMIENTO<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" style="background-color: #63C2EB">
            <li><a href="#" style="color:#fcf8e3" >ESTACIONAMIENTO</a></li>
            <li><a href="#" style="color:#fcf8e3">SERVICIOS</a></li>
            <li><a href="#" style="color:#fcf8e3">PUBLICIDAD</a></li>
          </ul>
        </li>

         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#fcf8e3;background-color: #63C2EB">MIS DATOS <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" style="background-color: #63C2EB">
            <li><a href="#" style="color:#fcf8e3">USUARIO</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#fcf8e3;background-color: #63C2EB">HISTORIAL <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu"  style="background-color: #63C2EB">
            <li><a href="#" style="color:#fcf8e3">ESTACIONAMIENTO HISTORIAL</a></li>
          </ul>
        </li>
      </ul>
    
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#fcf8e3;background-color: #63C2EB"><b>Admin</b> <span class="caret"></span></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

</nav>
<div class="row">
<div class="col-md-6" style="margin: 2%">
	<div class="col-md-6" style="background-color: white;border-color: #6AB3D3;border-style: solid;">
		<div class="form-group">
		<img src="/Images/estacionamiento.png" class="img-responsive">
         <input type="text" name="fname" class="form-control" placeholder="Usuario"><br>
         <input type="password" name="fname"  class="form-control"  placeholder="Contraseña" TextMode="Password"><br>
         <button type="button" class="btn btn-success form-control">Ingresar</button>
		</div><br>
		<div class="form-group">
		<button type="button" class="btn btn-success form-control">Registrarse</button>	
		<br>
		 <br>
		</div>
	</div>
</div>
<dv class="col-md-5">
	<div class="form-group">
		
   </div>
</dv>

</div>

</body>